* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'currencies/main';
